<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewsFeed</title>

  <!-- Material Design Theming -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <link rel="stylesheet" href="main.css">

  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAiYKo8-wtYrtQz0YqQkQ7FgRUf-C-UxUc",
      authDomain: "csproject609.firebaseapp.com",
      databaseURL: "https://csproject609.firebaseio.com",
      projectId: "csproject609",
      storageBucket: "csproject609.appspot.com",
      messagingSenderId: "997724796380"
    };
    // var DB;
    var uid;
    firebase.initializeApp(config);
    // var object = document.getElementById('posts');
    var db = firebase.firestore();
    db.collection("posts").get().then((querySnapshot) => {
      var allPosts = document.getElementById('posts');
      var post = [];
      let i = 0;
      querySnapshot.forEach((doc) => {
        post[i] = document.createElement("div");
        post[i].setAttribute("class", "mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-desktop");
        post[i].setAttribute("style", "height:400px");
        let titlePost = document.createElement("div");
        titlePost.setAttribute("class", "mdl-card__title mdl-color--light-blue-600 mdl-color-text--white");
        titlePost.style.fontSize = "24px";
        titlePost.innerHTML = doc.data().title;
        let descPost = document.createElement("div");
        descPost.innerHTML = doc.data().desc;
        let LikePost = document.createElement("div");
        LikePost.setAttribute("class", "mdl-card__title");

        let LikeIcon = document.createElement("i");
        LikeIcon.setAttribute("class", "material-icons md-light");
        if (doc.data().likes.find((elt) => {
          return uid === elt

        }) !== undefined) {
          LikeIcon.innerHTML = "favorite";


        } else {
          LikeIcon.innerHTML = "favorite_border";
        }
        LikeIcon.style.color = "red";
        let j = i;
        LikeIcon.id = "Icons" + j;
        // LikeIcon.onclick = (event) => Test(event, j, doc);

        let LikesNo = document.createElement("div");
        LikesNo.id = "LikesShow" + j;
        LikesNo.innerHTML = doc.data().likes.length;
        LikePost.appendChild(LikesNo);
        LikePost.appendChild(LikeIcon);
        let imgPost = document.createElement("img");
        imgPost.setAttribute("src", doc.data().photo);
        //TODO Add Like Button With a Div Tag
        post[i].appendChild(titlePost);
        post[i].appendChild(descPost);
        post[i].appendChild(imgPost);
        post[i].appendChild(LikePost);
        // console.log(post[i]);
        // allPosts.innerHTML += post;
        allPosts.append(post[i]);
        i++;
      });

    });
    function Test(j, doc, id) {
      document.getElementById("Icons" + j).innerHTML = "favorite";
      document.getElementById("Icons" + j).onclick = "javascript:void(0)";
      var Like = document.getElementById("LikesShow" + j).innerHTML;
      Like++;
      document.getElementById("LikesShow" + j).innerHTML = Like;
      var Doc = doc._document.key.path.segments[6];
      // console.log(doc.data());
      let Data = doc.data();
      Data.likes.push(id);
      console.log(Data.likes)
      db.collection("posts").doc(Doc).set(Data)
        .then(function () {
          // console.log("Document successfully written!");
        })
        .catch(function (error) {
          // console.error("Error writing document: ", error);
        });
    }

    /**
     * Function called when clicking the Login/Logout button.
     */
    // [START buttoncallback]
    function toggleSignIn() {
      if (!firebase.auth().currentUser) {
        // [START createprovider]
        var provider = new firebase.auth.GoogleAuthProvider();
        // [END createprovider]
        // [START addscopes]
        provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
        // [END addscopes]
        // [START signin]
        firebase.auth().signInWithPopup(provider).then(function (result) {
          // This gives you a Google Access Token. You can use it to access the Google API.
          // var token = result.credential.accessToken;
          // The signed-in user info.
          // var user = result.user;
          // [START_EXCLUDE]
          // document.getElementById('quickstart-oauthtoken').textContent = token;
          // [END_EXCLUDE]
        }).catch(function (error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // [START_EXCLUDE]
          if (errorCode === 'auth/account-exists-with-different-credential') {
            alert('You have already signed up with a different auth provider for that email.');
            // If you are using multiple auth providers on your app you should handle linking
            // the user's accounts here.
          } else {
            console.error(error);
          }
          // [END_EXCLUDE]
        });
        // [END signin]
      } else {
        // [START signout]
        firebase.auth().signOut();
        // [END signout]
      }
      // [START_EXCLUDE]
      // document.getElementById('quickstart-sign-in').disabled = true;
      // [END_EXCLUDE]
    }
    // [END buttoncallback]

    /**
     * initApp handles setting up UI event listeners and registering Firebase auth listeners:
     *  - firebase.auth().onAuthStateChanged: This listener is called when the user is signed in or
     *    out, and that is where we update the UI.
     */
    function initApp() {
      // Listening for auth state changes.
      // [START authstatelistener]
      firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          uid = user.uid;
          var providerData = user.providerData;
          // [START_EXCLUDE]
          // document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
          document.getElementById('quickstart-sign-in').textContent = 'Sign out';
          // document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
          // [END_EXCLUDE]

          // TODO Enable Form Option
          document.getElementById('Ptitle').disabled = false;
          document.getElementById('PDesc').disabled = false;
          document.getElementById('Pphoto').disabled = false;
          document.getElementById('PostButton').disabled = false;
          document.getElementById('PostButton').style.background = "orange";

          for (let i = 0; document.getElementById("Icons" + i) !== null; i++) {
            db.collection("posts").get().then((querySnapshot) => {
              let j = 0;
              querySnapshot.forEach((doc) => {
                if (doc.data().likes.find((elt) => {
                  return uid === elt
                }) !== undefined) {
                  document.getElementById("Icons" + j).innerHTML = "favorite";
                } else {
                  document.getElementById("Icons" + j).innerHTML = "favorite_border";
                }
                j++;
              })
            });



            document.getElementById("Icons" + i).addEventListener("click", function (event) {
              db.collection("posts").get().then((querySnapshot) => {
                let j = 0;
                querySnapshot.forEach((doc) => {

                  if (j === Number(event.target.id.slice(5, event.target.id.length))) {
                    if (doc.data().likes.find(function (elt) {
                      return elt == uid
                    }) === undefined) {
                      Test(i, doc, uid);
                    }

                  }
                  j++
                })
              });
              //i
              //Find What is clicked
              // console.log(uid); //Store this in DB
            })
          }

        } else {
          //TODO Disable Form
          // User is signed out.
          // [START_EXCLUDE]
          // document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
          document.getElementById('quickstart-sign-in').textContent = 'Sign in with Google';
          // document.getElementById('quickstart-account-details').textContent = 'null';
          // document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
          document.getElementById('Ptitle').disabled = true;
          document.getElementById('PDesc').disabled = true;
          document.getElementById('Pphoto').disabled = true;
          document.getElementById('PostButton').style.background = "lightgray";
          document.getElementById('PostButton').disabled = true;
        }
        // [START_EXCLUDE]
        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authstatelistener]

      document.getElementById('quickstart-sign-in').addEventListener('click', toggleSignIn, false);
    }

    window.onload = function () {
      initApp();
    };
    // document.getElementById("AddPost").addEventListener
    function AddPost() {
      //TODO Remove this
      var Ptitle = document.getElementById('Ptitle').value;
      var PDesc = document.getElementById('PDesc').value;
      var Pphoto = document.getElementById('Pphoto').value;
      console.log([Ptitle, PDesc, Pphoto]);
      var pDate = new Date();
      var PDate = pDate.getTime();
      var PLikes = [];
      db.collection("posts").add({
        data: pDate,
        desc: PDesc,
        likes: PLikes,
        photo: Pphoto,
        title: Ptitle
      })
        .then(function (docRef) {
          console.log("Document written with ID: ", docRef.id);
        })
        .catch(function (error) {
          console.error("Error adding document: ", error);
        });
    }
  </script>
</head>

<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Header section containing title -->
    <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
          <a href="/">
            <h3>News Feed</h3>
          </a>
        </div>
      </div>
    </header>

    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid" id="posts"
        style="flex:content;flex-direction: row; display: inline-flex">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-desktop"
          style="height: 400px">
          <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
            <h2 class="mdl-card__title-text">Sign In to Post</h2>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <!-- Button that handles sign-in/sign-out -->
            <div>
              <button style="background:lightblue" class="mdl-button mdl-js-button mdl-button--raised"
                id="quickstart-sign-in">Sign
                in with
                Google</button>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="Ptitle">
              <label class="mdl-textfield__label" for="Ptitle">Title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="PDesc">
              <label class="mdl-textfield__label" for="PDesc">Description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="Pphoto">
              <label class="mdl-textfield__label" for="Pphoto">Link of Photo</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <button id="PostButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                onclick="AddPost();">
                Submit
              </button>
            </div>

            <!-- Container where we'll display the user details -->
            <!-- <div class="quickstart-user-details-container">
              Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
              <div>Firebase auth <code>currentUser</code> object value:</div>
              <pre><code id="quickstart-account-details">null</code></pre>
              <div>Google OAuth Access Token:</div>
              <pre><code id="quickstart-oauthtoken">null</code></pre>
            </div> -->
          </div>
        </div>

      </div>
    </main>
  </div>
</body>

</html>